<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./tailwind/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="px-10 text-gray-800">
    <div class="main-navigation grid grid-cols-10 items-center">
        <img src="./images/Screenshot_2025-08-22_173848-removebg-preview.png" class="col-span-3 ms-5" alt="company logo">

        <ul class="col-span-6 flex gap-20">
            <div class="flex items-center">
                <img src="./images/4aae4ed7-5939-4e76-b100-e69440ebeae4.png" class="w-20" alt="Home">
                <li><a href="#">Homes</a></li>
            </div>
            <div class="flex items-center">
                <img src="./images/e47ab655-027b-4679-b2e6-df1c99a5c33d.png" class="w-20" alt="Home">
                <li><a href="#">Experiences</a></li>
            </div>
            <div  class="flex items-center">
                <img src="./images/3d67e9a9-520a-49ee-b439-7b3a75ea814d.png" class="w-20" alt="Home">
                <li><a href="#">Services</a></li>
            </div>
        </ul>
        <div class="col-span-1 flex gap-8">
            <i class="fa-solid fa-globe  fa-lg"></i>
            <i class="fa-solid fa-bars fa-lg"></i>
        </div>
    </div>
    <div class="second-navigation flex gap-5 items-center mx-auto rounded-full shadow-[0_1px_5px_gray] w-[68vw]">
        <div class="w-[20vw] px-6 py-1 border-r-2 border-gray-300 hover:bg-gray-200 hover:rounded-full hover:border-none">
            <h3 class="font-semibold text-lg">Where</h3>
            <p class="text-gray-600">Search destinatioins</p>
        </div>
        <div class="w-[11vw] px-6 py-1 border-r-2 border-gray-300 hover:bg-gray-200 hover:rounded-full hover:border-none">
            <h3 class="font-semibold text-lg">Check in</h3>
            <p class="text-gray-600">Add dates</p>
        </div>
        <div class="w-[12vw] px-6 py-1 border-r-2 border-gray-300 hover:bg-gray-200 hover:rounded-full hover:border-none">
            <h3 class="font-semibold text-lg">Check out</h3>
            <p class="text-gray-600">Add dates</p>
        </div>
        <div class="w-[25vw] flex justify-between px-6 py-2 hover:bg-gray-200 hover:rounded-full">
            <div>
                <h3 class="font-semibold text-lg">Who</h3>
                <p class="text-gray-600">Add guests</p>
            </div>
            <i class="fa-solid fa-magnifying-glass text-white bg-orange-700 rounded-full p-4 text-lg"></i>
        </div>
    </div>
    <div class="imagesContainer mt-10">
        <div class="my-5">
            <div class="flex items-center my-4 gap-3">
                <h2 class="text-3xl font-semibold ">Popular homes in Budapest</h2>
            </div>        
            <div class="flex overflow-x-auto [&>*]:shrink-0 [scrollbar-width:none]  gap-3">
                <div class="w-[20vw] relative">
                    <img src="images/fdb0c522-ba66-4e77-b01e-8ea94f1ba0bc_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe980af5-78da-4647-b632-74c6a7cbca38_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/026b2b13-e1d2-499d-ada4-795a6f148289.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe8748d1-e9aa-4ada-9a48-c6f74986ff93.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/026b2b13-e1d2-499d-ada4-795a6f148289.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe980af5-78da-4647-b632-74c6a7cbca38_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <div class="flex items-center my-4 gap-3">
                <h2 class="text-3xl font-semibold ">Popular homes in Budapest</h2>
            </div>        
            <div class="flex overflow-x-auto [&>*]:shrink-0 [scrollbar-width:none]  gap-3">
                <div class="w-[20vw] relative">
                    <img src="images/fdb0c522-ba66-4e77-b01e-8ea94f1ba0bc_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe980af5-78da-4647-b632-74c6a7cbca38_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/026b2b13-e1d2-499d-ada4-795a6f148289.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe8748d1-e9aa-4ada-9a48-c6f74986ff93.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/026b2b13-e1d2-499d-ada4-795a6f148289.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe980af5-78da-4647-b632-74c6a7cbca38_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <div class="flex items-center my-4 gap-3">
                <h2 class="text-3xl font-semibold ">Popular homes in Budapest</h2>
            </div>        
            <div class="flex overflow-x-auto [&>*]:shrink-0 [scrollbar-width:none]  gap-3">
                <div class="w-[20vw] relative">
                    <img src="images/fdb0c522-ba66-4e77-b01e-8ea94f1ba0bc_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe980af5-78da-4647-b632-74c6a7cbca38_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/026b2b13-e1d2-499d-ada4-795a6f148289.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe8748d1-e9aa-4ada-9a48-c6f74986ff93.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/026b2b13-e1d2-499d-ada4-795a6f148289.jpg.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
                <div class="w-[20vw] relative">
                    <img src="images/fe980af5-78da-4647-b632-74c6a7cbca38_2.jpeg" class="rounded-3xl">
                    <div class="px-2">
                        <h2 class="text-xl font-semibold">Appartment in Kilimani Estate</h2>
                        <div class="text-gray-600 font-semibold flex justify-between">
                            <p>$108 for 2 nights</p>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-star"></i>
                                <p>4.96</p>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-3 justify-between gap-20 left-5 flex items-center">
                        <p class="bg-white rounded-full px-2 py-1 font-semibold">Guest favorite</p>
                        <i class="fa-regular fa-heart text-white text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="my-8  ">
        <h2 class="text-3xl mb-5 font-medium">Inspiration for future getaways</h2>
        <div class="flex gap-8 font-medium text-xl">
            <a href="#" class="border-b-2 border-black">Travel tips & inspiration</a>
            <a href="#" class="text-gray-600">Airbnb-friendly apartments</a>
        </div>
        <div class="flex justify-between my-5 text-xl">
            <div class="space-y-6">
                <div class="cursor-pointer">
                    <h3 class="font-semibold">Family travel hub</h3>
                    <a href="#" class="text-gray-600">Tips and inspiration</a>
                </div>
                <div class="cursor-pointer">
                    <h3 class="font-semibold">Travel Europe on a budget</h3>
                    <a href="#" class="text-gray-600">How to take the kids to Europe for less</a>
                </div>
                <div class="cursor-pointer">
                    <h3 class="font-semibold">Kid-friendly state parks </h3>
                    <a href="#" class="text-gray-600">Check out these family-friendly hikes</a>
                </div>
            </div>
            <div class="space-y-6">
                <div class="cursor-pointer">
                    <h3 class="font-semibold">Outdoor adventure </h3>
                    <a href="#" class="text-gray-600">Explore nature with the family</a>
                </div>
                <div class="cursor-pointer">
                    <h3 class="font-semibold">Family budget travel </h3>
                    <a href="#" class="text-gray-600">Get there for less</a>
                </div>
            </div>
            <div class="space-y-6">
                <div class="cursor-pointer">
                    <h3 class="font-semibold">Vacation ideas for any budget </h3>
                    <a href="#" class="text-gray-600">Make it special without making it spendy</a>
                </div>
                <div class="cursor-pointer">
                    <h3 class="font-semibold">Bucket list national parks</h3>
                    <a href="#" class="text-gray-600">Must-see parks for family travel</a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 text-lg my-14 text-gray-800">
            <ul class="space-y-3">
                <h2 class="font-semibold">Support</h2>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Help Center</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">AirCover</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Anti-discrimination</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Disability support</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Cancellation options</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Report neighborhood concern</a></li>
            </ul>
            <ul class="space-y-3">
                <h2 class="font-semibold">Hosting</h2>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Airbnb your home</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Airbnb your experience</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Airbnb your service</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">AirCover for Hosts</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Hosting resources</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Community forum</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Hosting responsibly</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Airbnb-friendly apartments</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Join a free Hosting class</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Find a co‑host</a></li>
            </ul>
            <ul class="space-y-3">
                <h2 class="font-semibold">Airbnb</h2>
                <li><a href="#" class="hover:border-b-2 hover:border-black">2025 Summer Release</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Newsroom</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Careers</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Investors</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Gift cards</a></li>
                <li><a href="#" class="hover:border-b-2 hover:border-black">Airbnb.org emergency stays</a></li>
            </ul>
        </div>
        <div class="flex justify-between">
            <div class="flex text-lg gap-4 text-gray-800 my-10">
                <li ><a href="#" class="hover:border-b-2 border-gray-800">© 2025 Airbnb, Inc.</a></li>
                <li ><a href="#" class="hover:border-b-2 border-gray-800">Terms</a></li>
                <li ><a href="#" class="hover:border-b-2 border-gray-800">Sitemap</a></li>
                <li ><a href="#" class="hover:border-b-2 border-gray-800">Privacy</a></li>
                <li ><a href="#" class="hover:border-b-2 border-gray-800">Your Privacy Choices</a></li>
            </div>
            <div class="flex items-center text-lg gap-4 text-gray-800 my-10">
                <i class="fa-solid fa-globe"></i>
                <p>English(US)</p>
                <p>$ USD</p>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </footer>
    <div class="flex fixed bg-white w-screen justify-center bottom-0 text-xl">
        <div class="flex gap-5 py-3">
            <div class="flex items-center text-red-500 gap-2">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Explore</p>
            </div>
            <div class="flex items-center gap-2">
                <i class="fa-regular fa-heart"></i>
                <p>Wishlists</p>
            </div>
            <div class="flex items-center gap-2">
                <i class="fa-regular fa-circle-user"></i>
                <p>Login</p>
            </div>
        </div>
    </div>
</body>
</html>